.body{
    background-color: rgb(253, 252, 251);
    justify-content: flex-start;
    align-content: flex-start;
    display: flex;
    box-sizing:border-box;
    padding: 0;
    margin: 0;


}
body,html{
    margin: 0;
    padding: 0;



}
.Section{
    background-color: 
    #088dec;
    font-weight: 100;
    flex-direction: column;
    justify-content: flex-start;
    font-size: medium;
    display:flex;
    align-items: flex-start;
    padding-bottom: 10px;
  

}
.header{
    font-size: medium;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
      

}
.Shop{
    background-color: #004366;
    display: flex;
    align-content:first baseline center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: 200;
    font-style: normal;
    font-size: larger;
    flex-direction: column;

    padding-bottom: 10px;
    color: rgb(255, 255, 255);

}
.steps{
    font:100 sans-serif;
    height: 055px;
    font-size: 20px;


}

.sign{
    box-sizing: content-box;
    background-position: center;
    display: flex;
    color: #fcfafa;
    background-color: rgb(241, 121, 34);
    border: none;
    padding: 10px;
    margin: 0 auto;
   
    

}
.product{
    background-color: rgb(255, 255, 240);
    display: flex;
    justify-content: center;
    align-content: center;

}



.box{
    display: inline;
    box-shadow: none;
    justify-content: left;
    align-content: left;
    flex-direction: row;
    float: inline-start;
    justify-items: left;
    align-items: start;
    padding: 20px;
   



    
}
img{
    width: 100%;
    height: 50px ;
   
    
    

}
.bb{
    background-color: #1983d0;
    color: #fdfcfc;
    padding: 0;
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 20px ;

}
.boxS{
    display: inline;
    grid: 10cm;
    justify-content: left;
    align-content: left;
    flex-direction: row;
    float: inline-start;
    justify-items: left;
    align-items: start;
    padding: 20px;

}
img{
    height: 50px;
    width: 100%;
    color: #11217a;
    padding: 0;


}
.nike{
    border:none;
    background-color: #1983d0;
    height: 20px;
    padding: 3px;
    


}
.boxJ{
    display: inline;
    justify-content: left;
    align-content: space-between;
    grid: 10cm;
    align-content: left;
    flex-direction: row;
    float: inline-start;
    justify-items: left;
    align-items: start;
    padding: 20px;

}
.price{
    color: #f1f1f4;
    background-color: #088dec;
    border: none;
    


}
